{% extends 'base.html'%}
{% load widget_tweaks %}
{% load bootstrap_icons %}
{% block content %}

    <div  style="display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;">
<div style="border:2px solid #aaaaf2;padding: 10px;height: 500px;width: 30%;    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;  flex-direction: column;margin: 10px">
<div>
    <div class="myicons">
<div class="chartIcon" style="color: #a2a2f2;font-size: 65px"><i class="bi bi-envelope-arrow-up-fill"></i></div>
</div>
    <p>Merci d'entrer l'email que vous avez utilisé pour vous inscrire afin de pouvoir réinitialiser votre mot de passe.</p>
</div>
 {% if messages %}
            {% for message in messages %}
                        <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}" role="alert">
                {{ message }}
                        </div>
            {% endfor %}
    {% endif %}
    {% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div id="form_errors">
        {% for key, value in form.errors.items %}
            <strong>{{ value }}</strong>
        {% endfor %}
  </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>
{% endif %}

<form method="post" action={% url 'custom_password_reset' %}>
    {% csrf_token %}

  <div class="form-outline mb-4">
      {% render_field form.email class="form-control" id="email" autocomplete="email" placeholder="Email"%}
 </div>
    
    <input type="submit" value="Envoyer email" class="btn action-button">


</form>
    <p class="mt-2" >
<span><a class="link-offset-3 font-weight-bold btn" style="color:#A2A2F2!important;font-weight:bold!important; " href="{% url 'login' %}"><i class="bi bi-arrow-left-circle-fill pe-1"></i>Page précédente</a></span></p>
</div>
    </div>
{% endblock content %}