<div style="background-color: #EDEDED; padding: 15px;" class="email_wrapper">
    <h2 style="text-align: center;margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #5865F2; color: #ffffff;font-family: sans-serif !important;">
    RÉINITIALISATION DE MOT DE PASSE</h2>
    <div style="margin: 0; padding: 15px; background-color: #ffffff;font-size: 20px;">
  
        
    <div>
        <p style="margin: 8px 0;width: 100%;">Merci de cliquer sur le button ci-dessous  afin de réinitialiser votre mot de passe.</p>
        <p style="text-align: center;"><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style=" font-size: 20px;border: 0; color: #ffffff; background-color: #5865F2; padding: 15px; font-weight: bold; text-decoration: none; border-radius: 5px;margin: 6px 0;">
            Réinitialiser
        </a></p>
        </div>
    <p>Cordialement.</p>
    <p>Division des ressources humaines</p>
    </div>
</div>