{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Add Group
{% endblock page_title %}

{% block main_content %}

{% load custom_tags %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Group</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->



                    <form role="form" method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <!-- Day of Week -->
                            <div class="form-group">
                                <label for="id_day_of_week">Day of Week</label>
                                {{ form.day_of_week|add_css_class:"form-control" }}
                                {% if form.day_of_week.errors %}
                                    <div class="text-danger">
                                        {{ form.day_of_week.errors }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <!-- Category -->
                            <div class="form-group">
                                <label for="id_category">Category</label>
                                {{ form.category|add_css_class:"form-control" }}
                                {% if form.category.errors %}
                                    <div class="text-danger">
                                        {{ form.category.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.card-body -->
                    
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Add Group</button>
                            <a class="btn btn-secondary" href="{% url 'manage_student_groups' %}" role="button">Cancel</a>
                        </div>
                    </form>
                    


                    
                </div>
                <!-- /.card -->
            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}
